<div class="container">
  <h1 style="margin-top: 10px;">NiftyKit.js Angular Example</h1>

  <div class="row" *ngIf="loading$ | async">
    <div class="column">
      <h2>Loading...</h2>
    </div>
  </div>

  <div id="collection-info" *ngIf="collection">
    <div class="row">
      <div class="column">
        <pre>
          <code id="json">
            {{ collection | json }}
          </code>
        </pre>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <select aria-label="Select # of tokens" id="quantity" [(ngModel)]="quantity">
          <option *ngFor="let token of tokens" [value]="token">{{token}}</option>
        </select>
      </div>
      <div class="column">
        <button id="mint" class="button" (click)="mint()">Mint</button>
      </div>
    </div>
  </div>

  <div class="row" id="settings" *ngIf="!collection">
    <div class="column">
      <label for="key">
        SDK Public Key
      </label>
      <input [(ngModel)]="apiKey" id="key" type="text" placeholder="E.g: PAEJCX1AJlu4rDh8XNSQ">
    </div>
    <div class="column">
      <input type="checkbox" [(ngModel)]="isDev" id="dev">
      <label for="dev">
        Dev Mode
      </label>
    </div>
    <div class="column">
      <button id="start" class="button-outline" (click)="start()">Start</button>
    </div>
    <div class="column">
      <button id="quick-test" class="button-outline" (click)="quickMint()">Mint(1)</button>
    </div>
  </div>

  <div id="reset-container" class="row" *ngIf="collection">
    <div class="column">
      <button id="reset" class="button-outline" (click)="drop = null; collection = null;">Reset</button>
    </div>
  </div>

</div>
